<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="img/fav2.png">

    <!-- Title -->
    <title>كفاءة - الكوبونات</title>

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/vendor/bs-select/bs-select.css" />


    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="~/fonts/style.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/main-rtl.css">


    <!--SweetAlert2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.min.css" integrity="sha512-Yn5Z4XxNnXXE8Y+h/H1fwG/2qax2MxG9GeUOWL6CYDCSp4rTFwUpOZ1PS6JOuZaPBawASndfrlWYx8RGKgILhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- *************
        ************ Vendor Css Files *************
    ************ -->
    <!-- Mega Menu -->
    <link rel="stylesheet" href="~/vendor/megamenu/css/megamenu.css">

    <!-- Search Filter JS -->
    <link rel="stylesheet" href="~/vendor/search-filter/search-filter.css">
    <link rel="stylesheet" href="~/vendor/search-filter/custom-search-filter.css">

    <!-- Plugins Customization RTL -->
    <link rel="stylesheet" href="~/css/plugins-rtl.css">

    <script src="~/js/jquery.min.js"></script>


</head>
<body>

    <!-- Page wrapper start -->
    <div class="page-wrapper">



        <!-- *************
            ************ Main container start *************
        ************* -->
        <div class="main-container">

            <!-- Page header starts -->
            <div class="page-header">

                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-3">

                        <!-- Header actions start -->
                        <ul class="header-actions">


                            <li class="dropdown">
                                <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                                    <span>
                                        <img src="~/img/logo.png" alt="User Avatar" height="36">
                                        <span class="status busy"></span>
                                    </span>
                                    </a>
                            </li>
                        </ul>
                        <!-- Header actions end -->

                    </div>
                </div>
                <!-- Row end -->

            </div>
            <!-- Page header ends -->
            <!-- Content wrapper scroll start -->
            <div class="content-wrapper-scroll">

                <!-- Content wrapper start -->
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- Content wrapper end -->
                <!-- App Footer start -->
                <div class="app-footer">© Uni Pro Admin 2021</div>
                <!-- App footer end -->

            </div>
            <!-- Content wrapper scroll end -->

        </div>
        <!-- *************
            ************ Main container end *************
        ************* -->

    </div>
    <!-- Page wrapper end -->
    <!-- *************
        ************ Required JavaScript Files *************
    ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/moment.js"></script>

    <!-- *************
        ************ Vendor Js Files *************
    ************* -->
    <!-- Megamenu JS -->
    <script src="~/vendor/megamenu/js/megamenu.js"></script>
    <script src="~/vendor/megamenu/js/custom.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="~/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Search Filter JS -->
    <script src="~/vendor/search-filter/search-filter.js"></script>
    <script src="~/vendor/search-filter/custom-search-filter.js"></script>

    <!-- Main Js Required -->
    <script src="~/js/main.js"></script>

    <!-- Bootstrap Select JS -->
    <script src="~/vendor/bs-select/bs-select.min.js"></script>
    <script src="~/vendor/bs-select/bs-select-custom.js"></script>


    <!--SweetAlert2-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.min.js" integrity="sha512-dnyteqeKASHjUgi20CTeO5cfd1JwMTNV2ZS+tx5rlPCdWgnd6UKYNLM2EarSU9E6J3lMtMhUkcA6g8f3cAjoQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>